<% if logged_in? %>
  <h1> <%= @user.first_name %>'s Shopping History </h1>
  <div class="fotorama">
    <img src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg">
    <img src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg">
  </div>
<% end %>
