  <h1>Eats</h1>
  <p>The place where you can eat dishes from the best independent cooks</p>

  <!-- Carousel -->
  <div class="carousel">
    <div class="carousel-inner">
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden checked>
      <div class="carousel-item">
        <img class="avatar" src="http://blog.hdwallsource.com/wp-content/uploads/2015/01/food-wallpaper-5775-5940-hd-wallpapers.jpg" alt="Ash" />
      </div>
      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden>
      <div class="carousel-item">
        <img class="avatar" src="http://wallpapersdsc.net/wp-content/uploads/2016/09/Food-Images.jpg" alt="Ash" />
      </div>
      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden>
      <div class="carousel-item">
        <img class="avatar" src="http://aurora-awards.com/wp-content/uploads/2017/05/food-wallpaper-20-fantastic-hd-food-wallpapers.jpg" alt="Ash" />
      </div>
      <label for="carousel-3" class="carousel-control prev control-1">‹</label>
      <label for="carousel-2" class="carousel-control next control-1">›</label>
      <label for="carousel-1" class="carousel-control prev control-2">‹</label>
      <label for="carousel-3" class="carousel-control next control-2">›</label>
      <label for="carousel-2" class="carousel-control prev control-3">‹</label>
      <label for="carousel-1" class="carousel-control next control-3">›</label>
      <ol class="carousel-indicators">
        <li><label for="carousel-1" class="carousel-bullet">•</label></li>
        <li><label for="carousel-2" class="carousel-bullet">•</label></li>
        <li><label for="carousel-3" class="carousel-bullet">•</label></li>
      </ol>
    </div>
  </div>
