<% content_for :title, "Order" %>

<h1>
  Your order details
</h1>

<ul>
  <% order.dishes.each do |item| %>
    <li>
      <b><%= item.name %></b>
    </li>
    <li>
      <b><%= item.price %></b>
    </li>
    <li>
      <b><%= item.user.name %></b>
    </li>
  <% end %>
</ul>
