<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<% if (@recipes.blank? && @dishes.size == 0) %>

    <h4>There are no dishes avaliable at this moment.</h4>

<% else%>

  <% @dishes.each do |dish| %>
    <%= render 'layouts/dish_item.html', dish: dish%>
  <% end %>
<% end %>
