<h1 class="view-title" align="center">Menu</h1>

  <section align="center">
    <% if (@recipes.blank? && @dishes.size == 0) %>

        <h4 id="alert" align="center">There are no dishes avaliable at this moment.</h4>

    <% else%>


    <% @dishes.all_actives.each do |dish| %>
        <%= render 'layouts/dish_item.html', dish: dish%>
      <% end %>
    <% end %>
  </section>

<div id="paginate-dish" align="center">
  <%= will_paginate @dishes %>
</div>
