<h1>Eats</h1>

<p>Hi <%= @cook.name %>,</p>

<p>
<%= @customer.name %> has bought you the following dishes:

<ul>
  <li>
    Dish 1
  </li>
</ul>

Click here to see the order and accept the preparation of your dishes.

Please update the order status after preparation to inform your custumer that his order it's on its way.

Eats Team
</p>
