<p id="notice"><%= notice %></p>

<h1>Discounts</h1>

<% @discounts.each do |discount| %>
  <% if discount.active? %>
    <% @dish = Dish.find(discount.dish_id) %>
    <%= render 'layouts/dish_item.html', dish: @dish%>
  <% end %>
<% end %>
