// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.dish-display {
 width: 250px;
 display: inline-block;
 vertical-align: top;
 *display: inline;
 *zoom: 1;
}

div.new-dish-form {

  margin: auto;
  width: 50%;
  padding: 10px;
  width: 320px;

  input.field {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
  }

  .actions {
    margin: 10px;
    width: 50%;
    display: inline-block;

    .button {
      width: 100px;
      height: 30px;
      margin: 2px;
      display: inline-block;
    }
  }

}

div.dishes-table {
  overflow-x:auto;
}

table.dishes-table  {
    border-collapse: collapse;
    width: 100%;
}

th.dishes-table {
  height: 25px;

}

td.dishes-table {
  text-align: center;
  padding: 10px;
}

tr.dishes-table:hover {
  background-color: #f5f5f5;
}

table.dishes-table, td.dishes-table, th.dishes-table {
  border-bottom: 1px solid #d3d3d3;
}

div.dish-buttons {
  display:inline-block;
}

#dish-button {
  margin: 2px;
}

div.new-dishes-button {
  margin: auto;
  width: 24%;
  padding: 15px;

  #button {
    width: 250px;
    height: 25px;
  }
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
