// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dish-show {
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
	border-radius: 3px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 10px 10px rgba(0,0,0,0.15);
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.15);
}

.forks-show{
  align: center;
}

#dishes {
  width: 100%;
  margin: auto;
}

#dish-element {
  height: 100%;
  width: 100%;
  margin: 20px;
}

#dish-info {

  p, a {
    margin: 0px;
  }

}

#dish-photos {

}

div.dish-display {
 width:355px;
 min-height: 500px;
 margin-top: 35px;
 margin-right: 20px;
 margin-left: 20px;
 display: inline-block;
 vertical-align: top;
 color: black;
 background-color: transparent;
 padding: 25px;
 position: relative;
 -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
 -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
 box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
 *display: inline;
 *zoom: 1;

 image:hover {
   transform: scale(1.3);
 }

 p, a {
   margin: 10px 0px 10px 0px;
 }

 a {

 }

 a:hover {
   color: #5e0000;
   background-color: transparent;
 }

}

#dish-info {
  margin-top: 25px;
}

div.new-dish-form {

  margin: auto;
  width: 50%;
  padding: 10px;
  width: 320px;

  input.field {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
  }

  .actions {
    margin: 10px;
    width: 50%;
    display: inline-block;

    .button {
      width: 100px;
      height: 30px;
      margin: 2px;
      display: inline-block;
    }
  }

}

div.dishes-table {
  overflow-x:auto;
}

table.dishes-table  {
    border-collapse: collapse;
    width: 100%;
}

th.dishes-table {
  height: 25px;

}

td.dishes-table {
  text-align: center;
  padding: 10px;
}

tr.dishes-table:hover {
  background-color: #f5f5f5;
}

table.dishes-table, td.dishes-table, th.dishes-table {
  border-bottom: 1px solid #d3d3d3;
}

div.dish-buttons {
  display:inline-block;
}

#dish-button {
  margin: 2px;
}

.dish-avatar {
  width: 200px;
  height: 200px;
}

div.new-dishes-button {
  margin: auto;
  width: 24%;
  padding: 15px;

  #button {
    width: 250px;
    height: 25px;
  }
}

// ---

/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/

.comments * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

ul {
	list-style-type: none;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 30px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 20px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}

.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #5a0000;}

.comment-box .comment-name.by-author:after {
	content: 'author';
	background: #5a0000;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

}

#paginate-dish {
  margin-top: 200px;
  margin-bottom: 50px;

  a {

  }

  a:hover {
    color: #5e0000;
    background-color: transparent;
  }

}

.dish-buttons {
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
}

#fa-icon {

  font-size: 25px;
  margin: 8px;
  color: #000;
  padding: 7px;
}

#fa-icon:hover {
  color: #5e0000;
  transform: scale(1.5, 1.5);
}

#new-dish-button {
  margin-top: 50px;
  margin-bottom: 25px;
}
