// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.dish-display {
 border: 1px solid #d3d3d3;
 width: 200px;
 display: inline-block;
 vertical-align: top;
 *display: inline;
 *zoom: 1;
}

div.new-dish-form {

  margin: auto;
  width: 50%;
  padding: 10px;
  width: 320px;

  input.field {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
  }

  .button {
    width: 160px;
    height: 30px;
  }

  .actions {
    margin: 10px;
    width: 50%;
  }

}

div.dishes-table {
  overflow-x:auto;
}

table.dishes-table  {
    border-collapse: collapse;
    width: 100%;
}

th.dishes-table {
  height: 25px;

}

td.dishes-table {
  text-align: center;
  padding: 10px;
}

tr.dishes-table:hover {
  background-color: #f5f5f5;
}

table.dishes-table, td.dishes-table, th.dishes-table {
  border-bottom: 1px solid #d3d3d3;
}

div.dish-buttons {
  display:inline-block;
}

#dish-button {
  margin: 2px;
}

#new-dishes-button {
  margin: 15px;
}
