body {
  background-color: #fff;
  color: #333;
  font-family: 'Lora', serif;
  font-size: 13px;
  line-height: 18px;
  margin: 20px 33px 33px 33px;
}


.header {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 5px;
}

.slogan {
  font-family: 'Sofia';
  font-size: 30px;
}

#alert {
  font-family: 'Lora', serif;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  background-color: #ff6666;
  color: #fff;
  text-align: center;
  padding: 15px;
}

#view-title {
  font-family: 'Lora', serif;
  font-size: 75px;
  color: #5e0000;
  margin-top: 125px;
  margin-bottom: 50px;
}

#view-subtitle {
  font-family: 'Lora', serif;
  font-size: 35px;
  color: #5e0000;
  margin-top: 75px;

  a, a:hover {
    font-family: 'Sofia';
    font-size: 35px;
    color: #5e0000;
    background-color: transparent;
  }

  a:hover {
    font-family: 'Sofia';
    font-size: 35px;
    color: #666;
    background-color: transparent;
  }

}


main {
  height: 100%;
  width: 100%;
  margin: 20px 33px 33px 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &#field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
}

label {
  display: block;
}

.index-main {
  margin-top: 50px;
  margin-bottom: 35px;
}

ul.navbar {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    width: 95%;
    height: 5px;
}

.dish-subheader {
    color: inherit;
    text-transform: uppercase;
    font-family: 'Montserrat', arial, sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 1.5em;
    display: block;
    border-bottom: none;
    width: 100%;
    height: auto;
    margin: 10px auto 30px;
}

.dish-subheader:after {
    content: "";
    border-top: 1px solid;
    width: 40px;
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    margin: auto;
}

.site-logo{
  border-radius: 3em;
  border-width: thin;
}

.dish-cook{
  margin-top: -65px;
  margin-left: -80px;
  margin-bottom: 10px;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  border-radius: 4em;
  border-width: thin;
  border: 0.5px solid gray ;
}



.discount-flag {
    width: 50px;
    height: 22px;
    background-image: image-url("discount_flag.png");
    position: absolute;
    top: 1px;
    right: -10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    text-indent: 3px;
    padding-top: 3px;
    z-index: 99;
}

li#navbar {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 75px;

    input#field {
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 10pt;
      width: 200px;
      height: 20px;
      text-transform: none;
      letter-spacing: 0px;
    }

    input#field:focus {
        width: 600px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: 0px;
    }

    .search-button{
      background-color: #5e0000;
      border: 1px solid gray;
      margin-left: -6px;
      color: white;
      padding: 2.5px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

}

li#navbar.right {
    float: right;
}

li#navbar a, .dropbtn {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li#navbar a:hover, .dropdown:hover .dropbtn {
  color: #5e0000;
  background-color: transparent;
  font-weight: bold;
}


ul.dropdown {
  float: left;
  margin: 2px;

  a {
    color: black;
    background-color: transparent;
  }

  a:hover {
    color: #5e0000;
    background-color: transparent;
    font-weight: bold;
  }

}

li.dropdown {
    display: inline-block;
    float: right;
    line-height: 75px;
}

.dropdown-content {
    text-decoration: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dditem {
  font-size: 14px;
  margin: 0px
}

.dropdown-content a {
    color: black;
    padding: 6px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: 1px solid #bbb;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

#menu-icon {
  margin: 5.5px;
  cursor: pointer;
}

#navbar-item {
  font-size: 15px;
  margin: 2px;
}

.carousel-indicators {
  margin-bottom:0;
  padding-left:0;
  list-style: none;

}

.carousel{
  position:relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  top: 1%;
  left: 1%;
}

.carousel-inner{
  position:relative;
  overflow:hidden;
  width:90%;
  border-radius: 50px;
  margin-left: 5%;
}

.carousel-open:checked + .carousel-item {
  position:static;
  opacity:100;
  border-radius: 50px;
}

.carousel-item {
  height: 350px;
  width: 100%;
  position:absolute;
  opacity:0;
  transition:opacity .5s ease-out;
  border-radius: 50px;
}

.carousel-item img {
  display:block;
  height:auto;
  max-width:100%;
}

.carousel-control{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  color:#fff;
  cursor:pointer;
  display:none;
  font-size:4rem;
  height:40px;
  line-height:35px;
  text-align:center;
  width:40px;
  z-index:10;
}

.carousel-control.prev {
  left:2%;
}

.carousel-control.next {
  right:2%
}

.carousel-control:hover {
  color:#aaa
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display:block
}

.carousel-indicators{
  position:absolute;
  bottom:2%;
  left:0;
  right:0;
  text-align:center;
  z-index:10;
}

.carousel-indicators li {
  display:inline-block;
  margin:0 5px
}

.carousel-bullet {
  color:#fff;
  cursor:pointer;
  display:block;
  font-size:3.5rem;
}

.carousel-bullet:hover {
  color:#aaa
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color:#5a0000
}

.link {
  padding-top: 25px;

  a {
    color: black;
    background-color: transparent;
  }
  a:hover {
    color: #5e0000;
    background-color: transparent;
  }
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #fff;
  text-align: center;

  a {
    color: black;
    background-color: transparent;
  }

  a:hover {
    color: #5e0000;
    background-color: transparent;
  }

}

li.footer {
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
}

// ============================================================================
// BUTTON STYLE
// ============================================================================

.action-button {
	position: relative;
	padding: 5px 40px;
  margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Coda', cursive;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
  background-color: #5e0000;
	border-bottom: 5px solid #4b0000;
	text-shadow: 0px -2px #4b0000;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #5e0000;
  border-bottom: 5px solid #4b0000;
  text-shadow: 0px -2px #4b0000;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button:visited {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #5e0000;
  border-bottom: 5px solid #4b0000;
  text-shadow: 0px -2px #4b0000;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

// ============================================================================
// TEXT STYLE
// ============================================================================
