.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: 1px solid #bbb;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

#sidebar-item {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;;
  font-size: 15px;
  margin: 0px;
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-right: 5px;
}

#sidebar-item:hover {
  color: #fff;
  margin: 2px;
  background-color: #000;
}
