// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.tags-table {
  overflow-x:auto;
}

table.tags-table  {
    border-collapse: collapse;
    width: 100%;
}

th.tags-table {
  height: 25px;

}

td.tags-table {
  text-align: center;
  padding: 10px;
}

tr.tags-table:hover {
  background-color: #f5f5f5;
}

table.tags-table, td.tags-table, th.tags-table {
  border-bottom: 1px solid #d3d3d3;
}

div.dish-buttons {
  display:inline-block;
}
