// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.new-user-form, div.login-form {

  margin: auto;
  width: 50%;
  padding: 10px;
  width: 320px;

  input.field {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
  }

  .photo {
    margin: 10px;
  }

  .button {
    width: 160px;
    height: 30px;
  }

  .actions {
    margin: auto;
    width: 50%;
  }

}

div.users-table {
  overflow-x:auto;
}

table.users-table  {
    border-collapse: collapse;
    width: 100%;
}

th.users-table {
  height: 25px;

}

td.users-table {
  text-align: center;
  padding: 10px;
}

tr.users-table:hover {
  background-color: #f5f5f5;
}

table.users-table, td.users-table, th.users-table {
  border-bottom: 1px solid #d3d3d3;
}

#new-users-button {
  margin-left:auto;
  margin-right:auto;
}

div.profile-container {

  margin: 25px;
  padding: 25px;
  font-size: 16px;

  h4 {
    text-transform: uppercase;
  }

  p {
    padding-top: 4px;
    padding-bottom: 1px;

    span {
      height: 50%;
    }

  }

  div.info {
    border-bottom: 1px solid #d3d3d3;
  }

  div.profile {
    display: flex;

    .profile-pic {
      float: left;
      width: 200px;
      margin: 15px;
      border: 1px solid #d3d3d3;
    }

    .profile-1 {
      float: left;
      width: 300px;
      margin: 15px;
    }

    .profile-2 {
      float: left;
      width: 300px;
      margin: 15px;
    }

  }

}

// HERE NEW PROFILE VIEW

.user-container {
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.title {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.title span {
  color: #a50000;
}

.user-card {
  width: 20%;
  display: 1;
  float: left;
  margin-right: 50px;
  text-align: center;

  .avatar {
    width: 100%;
    border-radius: 500px;
  }

  .role {
    text-transform: uppercase;
  }

  ul.data {
    text-align: left;
    font-size: 15px;
  }

  li.data {
    list-style: none;
  }

}

.user-info {
  width: 80%;
  display: 1;
}

.fav {
  margin-top: 10px;
  margin-bottom: 90px;
}


// END



[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}




.user-profile > img.avatar {
	padding: 10px;
  margin-left: .3em;
  margin-top: .3em;
  height: 200px;
  width: 200px;
  border-radius: 200px;
}

.user-profile ul.data {
	margin: 6em auto;
	height: 3.70em;
  background: #a50000;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: auto;
  padding: 1.30em;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

.links {
  float: right;
}

h1.profile-title {
  color: #5a0000;
  font-family: "Coda", sans-serif;
}
