<p id="notice"><%= notice %></p>

<h1 class="view-title" align="center"><%= @category.name %></h1>

<div align="center">

  <% @category.dishes.each do |dish| %>
    <%= render 'layouts/dish_item.html', dish: dish%>
  <% end %>

  <%= button_to 'Back', dishes_path, :method => :get, :class => "action-button" %>
</div>
