<p id="notice"><%= notice %></p>

<h2 class="view-subtitle" align="center">Category</h2>
<h1 class="view-title" align="center"><%= @category.name %></h1>

    <% @category.dishes.each do |dish| %>
      <%= render 'layouts/dish_item.html', dish: dish%>
    <% end %>
<br>

<%= link_to 'Back', dishes_path %>
