<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="list-inline">
                        <li>
                            <a href="/">
                                Eats
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="/dishes">
                                Dishes
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; 2017, all rights reserved</a>
                </div>
            </div>
        </footer>
