<footer class="footer">
  <hr>
  <div class="container-fluid">
    <ul class="list-inline" id="footer">
      <li class="footer">
        <a href="/"> Eats </a>
      </li>
      <li class="footer">
        <a href="/"> Contact Us </a>
      </li>
      <li class="footer">
        <a href="/dishes"> Dishes </a>
      </li>
    </ul>
      <p>&copy; 2017, all rights reserved</p>
  </div>
</footer>
