<footer class="footer">
            <div class="container-fluid">
                <div class="pull-left">
                    <ul class="list-inline" id="footer">
                        <li class="footer">
                            <a href="/"> Eats </a>
                        </li>
                        <li class="footer">
                            <a href="/"> Contact Us </a>
                        </li>
                        <li class="footer">
                            <a href="/dishes"> Dishes </a>
                        </li>

                    </ul>
                </div>
                <div class="copyright pull-right">
                    &copy; 2017, all rights reserved</a>
                </div>
            </div>
        </footer>
